//重置Dialog样式
.baseDialog{
    width: 400px !important;
    border-radius: 10px;
    margin-top: 24vh !important;
    .el-dialog__header{
        border-bottom: 2px solid #ccc;
        padding-bottom: 20px;
        .el-dialog__title{
            // font-weight: 600;
            font-size: 18px;
        }
    }
    .el-button{
        width: 118px;
        height: 40px;
        border-radius: 0;
        font-size: 18px;
    }

    .el-form-item.is-required .el-form-item__label:before{
        content: '';
    }
    .el-form{
        margin: auto;
        label{
            text-align: left;
            text-indent: -4px;
            line-height: 14px;
            font-size: 14px;
            margin-bottom: 6px;
            display: block;
        }
        input{
            border: 0;
            font-size: 12px;
            border-bottom: 1px solid #dcdfe6;
            padding-left: 0;
        }
    }
    .el-dialog__body{
        padding: 50px 80px;
        padding-bottom: 0;
    }
    .el-dialog__footer{
        padding-top: 20px;
      .tips{
          color: #999999;
          font-size: 12px;
          vertical-align: middle;
          margin-right: 12px;
          a{
              color: #F5A623;
          }
      }
      .el-button{
          margin-bottom: 20px;
      }
    }
    

    .flexBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 100px;
            height: 100px;
            margin: 20px;
            text-align: center;
            img{
                max-height: 100%;
                margin: auto;
            }
        }
        .tips{
            font-size: 12px;
            text-align: center;
            width: 100%;
            line-height: 20px;
        }
        .startBox{
            display: flex;
            justify-content: space-around;
            width: 64%;
            padding: 20px 0;
        }
    }

        //获取按钮
    .verCode{
        position: relative;
        .verBtn{
            position: absolute;
            right: 0;
            bottom: 8px;
            height: 22px;
            line-height: 22px;
            // padding: 0 8px;
            width: 40px;
            text-align: center;
            border-left: 1px solid #333333;
            color: #333333;
        }
        .el-input__suffix{
            right: 48px;
        }
    }
}